af {
  position: absolute;
  margin-top: 3.7%;
}

homelogo {
display: block;
margin-top: 6.9%;
width: 34px;
height: 19px;
background-image: url(ic_head_logo.svg);
}

.css_class_1 {
    width: 251.5px;
}
